<div style="margin-bottom: 5%; margin-top:2%;">
  <div>
    <%= render "likes/like", p: p %>
  </div>
  <div>
    <% if p.items.present? %>
    <% list = [] %>
      <% p.items.each do |i| %>
        <% if !(list.include? i.brand.name) %>
          <span><i class="fa fa-hashtag" aria-hidden="true"></i><%= i.brand.name %></span>
          <% list.push(i.brand.name) %>
        <% end %>
      <% end %>
    <% else %>
      <span><i class="fa fa-hashtag" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>
