<% post_like = p.present? ? p : @post %>
<span id="<%= dom_id(post_like) %>">
  <% if user_signed_in? && (can? :like, post_like)%>
    <% if !post_like.liked_by?(current_user) %>
      <%= link_to fa_icon("heart-o"), post_likes_path(post_like), method: :post, remote: true%>
    <% else %>
      <%= link_to fa_icon("heart"), post_like_path(post_like, post_like.like_for(current_user)), method: :delete, remote: true%>
    <% end %>
  <% end %>
  <span><%= pluralize(post_like.likes.count, 'like') %></span>
</span>
