<div class="container-fluid">
  <div class="row">
    <!-- render _sidebar.html.erb -->
    <% if params[:id] == current_user.id.to_s %>
      <%= render 'partials/sidebar' %>

      <div class="col-md-10 col-sm-8 col-md-offset-2 col-sm-offset-4" id="main-content">
      <!--Main content code to be written here -->
      <div class="container" id="greeting">
        <% greeting = ["Hi, what\'s new?", "Ready to share your outfit for today?", "Fashion is what you’re offered four times a year by designers. And style is what you choose.", "Clothes are like a good meal, a good movie, great pieces of music."] %>
        <h3><%= greeting.sample %></h3>
        <div id = "wrap">
          <a href="#" id = "newOutfit"><b>NEW OUTFIT</b></a>
        </div>
      </div>

      <div class="row">
        <h2 id="boxtitle"></h2>
        <div class='list-group gallery'>
          <div class="col-lg-3">
            <a href="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" class=" thumbnail fancybox" rel="gallery" title="show all tags">
              <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" alt="">
            </a>
            <button type="button" class="btn btn-danger btn-circle" id="heart"><i class="glyphicon glyphicon-heart"></i></button>
            <span>288</span>
            <a href="#" class="btn disabled"><i class="glyphicon glyphicon-white glyphicon-trash"></i></a>
            <a href="#" class="btn btn-inverse disabled"><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a href="#" class="btn btn-inverse disabled"><i class="glyphicon glyphicon-trash"></i></a>

          </div>
          <div class="col-lg-3">
            <a href="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" class=" thumbnail fancybox" rel="gallery" title="show all tags">
              <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3">
            <a href="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" class=" thumbnail fancybox" rel="gallery" title="show all tags">
              <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-3">
            <a href="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" class=" thumbnail fancybox" rel="gallery" title="show all tags">
              <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" alt="">
            </a>
          </div>
        </div>
      </div>

    </div>
    <% else %>
      <p>other people's home</p>
    <% end %>
  </div>
</div>
