<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">装</h1>
    <p class="lead">Style Is A Way To Say Who You Are Without Having To Speak</p>
  </div>
</div>

<div class="container">
  <% if user_signed_in? %>
    <div class="row">
      <h2 class="boxtitle">FIND NEW FRIENDS?</h2>
      <div>
        <% users = User.all %>
        <% counter = 1%>
        <% users.each do |u| %>
          <% if !(current_user.people_you_follow_ids.include? u.id) && (counter < 5) %>
          <!-- ??????????????????why people_you_follow_ids only return a single result in rails console?-->
            <% following = current_user.followings.find_by(user: u) %>
            <% if !following.present? %>

            <div class="col-sm-3" style="margin-bottom: 10px;">
              <div class="card" >
                  <div class="header-bg header-bg<%= counter %>" width="250" height="70" id="header-blur"></div>
                  <div class="avatar">
                    <%= image_tag u.selfie.url(:medium), class:"img-responsive center-block" %>
                  </div>
                  <div class="content">

                      <p><%= u.first_name.capitalize %></p>
                      <p><%= link_to 'Follow',user_followings_path(u), method: :post, class:"btn btn-default"%></p>

                      <!-- <p><button type="button" class="btn btn-default">Follow</button></p> -->
                  </div>
              </div>
            </div>
            <% end %>
            <% counter += 1 %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <h2 class="boxtitle">RECOMMENDATION</h2>
    </div>
  <% end %>
  <div class="row">
    <h2 class="boxtitle">NEW</h2>
    <div class='list-group gallery'>
      <div class="col-lg-4">
        <a href="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" class=" thumbnail fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" class=" thumbnail fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" class=" thumbnail fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="boxtitle">TRENDING</h2>
    <div class='list-group gallery'>
      <ul id="slide1">
      <li>
        <a href="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" class="fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/564x/67/4a/6b/674a6b2ef6bac78c87425feb71692617.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="http://www.thefruitysky.com/wp-content/uploads/17817778_403586323347206_7451474981013159936_n-640x640.jpg" class="fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="http://www.thefruitysky.com/wp-content/uploads/17817778_403586323347206_7451474981013159936_n-640x640.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="https://s-media-cache-ak0.pinimg.com/736x/e5/7e/c4/e57ec449afb0f61378ece5f1071b484a.jpg" class="fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/736x/e5/7e/c4/e57ec449afb0f61378ece5f1071b484a.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="https://cdn.shopify.com/s/files/1/0162/2116/files/Insta-image-42_b82a8c73-9322-4985-8762-9b1183f15c6a.jpg?12215716545693072007" class="fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="https://cdn.shopify.com/s/files/1/0162/2116/files/Insta-image-42_b82a8c73-9322-4985-8762-9b1183f15c6a.jpg?12215716545693072007" alt="">
        </a>
      </li>
      <li>
        <a href="https://s-media-cache-ak0.pinimg.com/736x/e5/7e/c4/e57ec449afb0f61378ece5f1071b484a.jpg" class="fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="https://s-media-cache-ak0.pinimg.com/736x/e5/7e/c4/e57ec449afb0f61378ece5f1071b484a.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="https://media1.popsugar-assets.com/files/thumbor/gwy2tNTq9AbRtwj1MhyXJg4uJcU/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/08/04/944/n/1922564/059fd248_edit_img_image_14563166_1438628700_Risk-Taker-Chiara-Ferragni/i/Outfit-Inspiration-Personality-Type.jpg" class="fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="https://media1.popsugar-assets.com/files/thumbor/gwy2tNTq9AbRtwj1MhyXJg4uJcU/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/08/04/944/n/1922564/059fd248_edit_img_image_14563166_1438628700_Risk-Taker-Chiara-Ferragni/i/Outfit-Inspiration-Personality-Type.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="http://cimg.zettecdn.com/img/Clozette_Fashion-Formula-7-Outfit-Combos-That-Always-Wow_aponytale_clozetteinsider_cover.jpg" class="fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="http://cimg.zettecdn.com/img/Clozette_Fashion-Formula-7-Outfit-Combos-That-Always-Wow_aponytale_clozetteinsider_cover.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="http://www.closetfulofclothes.com/wp-content/uploads/2015/12/winter-fall-work-outfit-grey-tweed-pants-trousers-cropped-pants-wide-leg-pants-ankel-booties-booties-and-shoes-navy-top-fall-neutrals-saddle-bag-thefashionguitar-instagram.jpg" class="fancybox" rel="gallery" title="show all tags">
          <img class= "img-responsive"src="http://www.closetfulofclothes.com/wp-content/uploads/2015/12/winter-fall-work-outfit-grey-tweed-pants-trousers-cropped-pants-wide-leg-pants-ankel-booties-booties-and-shoes-navy-top-fall-neutrals-saddle-bag-thefashionguitar-instagram.jpg" alt="">
        </a>
      </li>

    </ul>
    </div>
  </div>

</div>
<footer class="footer">
  <div class="container">
    <div class="row">
    <h4 class="title">Closet</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit, libero a molestie consectetur, sapien elit lacinia mi.</p>
      <ul class="social-icon">
      <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
      <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
      </ul>
    </div>
  </div>

</footer>
