/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require bxslider
 *= require chosen
 *= require_self
 */


 @import "font-awesome";

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #f5f5f5;
  margin-top: 50px;
}
#login-button, #signup-button{
  margin-top:7px;
  margin-right:10px;
  margin-left:10px;
  width:75px;
  background: linear-gradient(to right, #307dac, #4a4cc9, #77a0b8, #6a6cba, #abcfe5, #b6b6dd, #ccdfeb);
  filter: grayscale(0.5);
}

.hidden{
  display: none;
}
.center-text{
  text-align: center;
}

.navbar{
  font-size: 1.2em;
  margin-bottom: 0px;
  border:0px;

}
.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
 .bs-dark.navbar-inverse {
  background-color: #35404f;
   border-color: #080808;
 }
 .bs-dark .navbar-img {padding:5px 6px !important;}
 .bs-dark .navbar-img img {width:40px;}
 .bs-dark .dropdown-menu {
   min-width: 200px;
   padding: 5px 0;
   margin: 2px 0 0;
   background-color: #000;
   border: 1px solid rgba(0, 0, 0, 0.7);
   border: 1px solid rgba(0, 0, 0, .15);
   box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
 }

 .bs-dark .dropdown-menu .divider {
   border: 1px solid rgba(0, 0, 0, 0.8);
 }
 .bs-dark .dropdown-menu > li > a {
   padding: 6px 20px;
   color: rgba(255,255,255,0.80);
 }
 .bs-dark .dropdown-menu > li > a:hover,
 .bs-dark .dropdown-menu > li > a:focus {
   color: rgba(255,255,255,0.70);
   text-decoration: none;
   background-color: transparent;
 }
 .bs-dark .dropdown-menu > .active > a,
 .bs-dark .dropdown-menu > .active > a:hover,
 .bs-dark .dropdown-menu > .active > a:focus {
   color: rgba(255,255,255,0.70);
   text-decoration: none;
   background-color: transparent;
   outline: 0;
 }

 .bs-dark .navbar-form {
   margin:0;
   margin-top: 5px;
   padding:8px 0px;
 }

 .bs-dark .navbar-form .search-box {
   border:0px;
   height:35px;
   outline: none;
   width:320px;
   padding-right: 3px;
   padding-left: 15px;
   margin:4px;
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
 }

 .bs-dark .navbar-form button {
   border: 0;
   background: none;
   padding: 2px 5px;
   margin-top: 2px;
   position: relative;
   left: -34px;
   margin-bottom: 0;
   border-radius: 3px;
 }

 .bs-dark .search-box:focus + button {
   z-index: 3;
 }

 .footer {
   text-align: center;
   padding: 50px 0 20px 0;
   background-color: #35404f;
   color: #878c94;
 }
 .footer .title{color:#fff;font-size:25px;}


 .footer .social-icon{padding:0px;margin:0px;}
 .footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
 .footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
 .footer .acount-icon .fa{margin-right:25px;}

 @media (min-width: 768px) {
  .bs-dark .dropdown:hover {background-color: #000;}
 	.bs-dark .dropdown:hover .dropdown-menu {
 	  display: block;
 	}
 	.bs-dark .navbar-form {
 	  padding:0px;
 	}
 	.bs-dark .navbar-form .search-box {
 	  width:260px;
 	  height:32px;
 	}
  #sidebar2{
    display: none;
  }
 }

 @media (max-width:768px) {
   #sidebar1{
     display: none;
   }
   #sidebar2 {
     padding-top: 2%;
     padding-bottom: 2%;
    img{
      margin-top: 0px;
    }
   }

   #greeting{
     height:100px;
     background-color: #dedfe8;
     text-align: center;
     h3{
       display: none;
     }
   }
   #followers{
     .follower-description{
       display: none;
     }
   }
   .col-sm-2{
     width: 24%;
     display: inline-block;
   }
 }
@media (max-width:480px) {
  #modal {
     .ip_slide{
       width: 330px;
     }
   }
   .col-sm-2{
     width: 49%;
     display: inline-block;
   }
}
