// Place all the styles related to the followers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#followers .avatar{
	width:90px;

}
#followers .avatar > img{
	width:70px;
	height:70px;
	border-radius:10%;
}
.followerinfo {
  text-align: left;
}
.followerName {
  width: 100px;
}
#followers .table-hover tbody tr:hover {
	background-color: #efe9e8;
}
.SearchIcon
{
    color:#fff;

}
.SearchButton
{
    background-color:#8b76b3;
    border-radius:1px;
}
.SearchButton:hover{
    background-color:#64609e;
}
.purple_button{
  background-color: #ccc3d8 !important;
}
.purple_text{
  color:#4843ea;
}
