// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-fluid{
  background: linear-gradient(to right, #307dac ,#4a4cc9, #77a0b8,#6a6cba, #abcfe5,#b6b6dd, #ccdfeb);
  // background-image: url('http://fc06.deviantart.net/fs71/i/2013/237/1/5/outfit_sketch_spazz_by_dreamerwhit95-d6jqz6i.jpg');
  // background-image: image-url('background.jpg');
  // filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.8)) grayscale(0.8);;
  filter: grayscale(0.5);;
}
.boxtitle{
  text-align: center;
}

// Find new friends
.card {
  background-color: white;
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  color: #3e4144;
}

// .header-bg1{
//   background-color: #f2dede;
//
// }
// .header-bg2{
//   background-color: #d9edf7;
//
// }
// .header-bg3{
//   background-color: #f5f5f5;
//
// }
// .header-bg4{
//   background-color: #dff0d8;
// }

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  // background-color: #000;
  // background-color: #2b2e32;
  // background-color: #35404f;
  // background: linear-gradient(to right, #307dac ,#4a4cc9, #77a0b8,#6a6cba, #abcfe5,#b6b6dd, #ccdfeb);
  background: linear-gradient(#4a4cc9, #6a6cba, #b6b6dd, #77a0b8, #518cb0, #1879b4);
  filter: grayscale(0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgba(0,0,30,0.8);
}
#iPicture, .iPicture{
  text-align: center;
}

#iPicture ul, .iPictures ul{
  text-align: left;
  color:white;
  width: 200px;

}
.ip_tooltip{
  width: 200px;
}
#new-post{

  // width : 700px;
  // height : 300px;
  background-color : #c7ccd8;
  margin :0 auto;
  border-radius : 15px;
  box-shadow: 0 0 15px #4a4cc9;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;

}
#inputPicture{
  display: inline-block;
  width: 190px;
}
#previewImage{
  text-align: center;
  display: inline-block;
}
#new-post-button{
  background: linear-gradient(to right, #307dac, #4a4cc9, #77a0b8, #6a6cba, #abcfe5, #b6b6dd, #ccdfeb);
  filter: grayscale(0.4);
  color: black;
  border: 0px;
}

#newItemForm{
  .btn{
    background: linear-gradient(to right, #307dac, #4a4cc9, #77a0b8, #6a6cba, #abcfe5, #b6b6dd, #ccdfeb);
    filter: grayscale(0.4);
    color: black;
    border: 0px;
  }
  input[type='submit']{
    font-weight: bold;
  }
  #item_detail, #itemPrice, #itemLink{
    height: 24px !important;
  }
}
#itemBrand_chosen, #item_kind_chosen{
  width: 286.66px !important;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
// Modal on index page popup show page
.modal-backdrop.in {
  // background-color: lightslategray;
  // opacity: 1;
  // z-index: 200;
}
.bx-prev, .bx-next {
  z-index: 50 !important;
}

.modal-dialog{
  max-width: 500px;
  .modal-heading{
    text-align: center;
  }
  .modal-content{
    background-color: hsla(0, 0%, 96%, 0.76);
  }
}

.crop {
    width: 277px;
    height: 277px;
    overflow: hidden;
}
.iPictures{
  background-color: black;
}

i.fa-heart-o, i.fa-heart{
  color:#af2424;
}
i{
  color:black;
}
.fa-file-image-o, #follow .fa-user-circle{
  color:white;
}
.find_new_friends .fa-user-circle, i.fa-file-image-o{
  color:black;
}
.fa-star-o, .fa-star{
  color: #0e8c5a;
}

#message1, #message2{
  text-align: center;
}
