// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo{
  height:100%;
  width: auto;
}
header{
  height: 100px;
  text-align: center;
  border-bottom: solid thin grey;
}
header h3{
  display: inline-block;
  text-shadow: 0px 0px 5px rgba(221, 19, 47, 0.41);
}
.boxtitle{
  text-align: center;
}

// Find new friends
.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  // background-color: #f5f5f5;
  color: rgb(136, 172, 217);
}
.header-bg1{
  background-color: #f2dede;

}
.header-bg2{
  background-color: #d9edf7;

}
.header-bg3{
  background-color: #f5f5f5;

}
.header-bg4{
  background-color: #dff0d8;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}
