// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-form{
    width : 400px;
    height : 400px;
    background-color : #35404f;
    margin :0 auto;
    border-radius : 15px;
    box-shadow: 0 0 15px #4a4cc9;
    padding-bottom: 20px;
    padding-top: 25px;
    input{
      width: 200px;
    }
}
