// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup-form{
    width : 400px;
    height : 500px;
    background-color : #35404f;
    margin :0 auto;
    border-radius : 15px;
    box-shadow: 0 0 15px #4a4cc9;
    padding-bottom: 20px;
    padding-top: 25px;
    input{
      width: 200px;
    }
}
#business-user{
  text-align: left;
  display: inline-block;
  width: 200px;
  input{
    width: auto;
  }
  label{
    margin-left: 5%;
    color:white;
  }
}

.input-image{
  color:white;
}

#sidebar1 {
    position:fixed;
    background: #F17153;
    background: linear-gradient(#4a4cc9, #6a6cba,#b6b6dd,#77a0b8, #518cb0, #1879b4);
    filter: grayscale(0.6);;
    padding: 0px;
    min-height: 100%;
}

#user-logo {
    max-width: 100%;


}
#user-logo img, .other_selfie{
    max-width: 50%;
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
#sidebar1 ul {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
#sidebar1 ul::first-line {
    color: rgba(255, 255, 255, 0.5);
}
#sidebar1 ul > li, h5 {
    padding: 5px 0px 5px 40px;
}
#sidebar1 ul >li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}
#sidebar2 {
    background: #F17153;
    background: linear-gradient(#4a4cc9, #6a6cba,#b6b6dd,#77a0b8, #518cb0, #1879b4);
    filter: grayscale(0.6);;
    padding: 0px;
    margin: 0px;
    min-height: 100%;

}
#sidebar2 ul {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
#sidebar2 ul::first-line {
    color: rgba(255, 255, 255, 0.5);
}
#sidebar2 ul > li, h5 {
    padding: 5px 0px 5px 40px;
}
#sidebar2 ul >li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}

#greeting{
  height:150px;
  background-color: #dedfe8;
  text-align: center;
}
#collection-title{
  height: 150px;
  background-color: #dee4e8;
  text-align: center;
}

#new-outfit {
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 15px 15px;
  color: rgba(30, 22, 54, 1);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

#heart{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
}
.hidden{
  display: none;
}

.other-user-home {

  img{
    margin-top: 0px;
  }

  .card{
    text-align: left;
    background-color: #556984;
    color: white;
  }

}
#edit-user{
  background-color : #c7ccd8;
  box-shadow: 0 0 15px #4a4cc9;
  padding-bottom: 20px;
  padding-top: 25px;
  margin-top: 2%;

  .btn{
    background: linear-gradient(to right, #307dac, #4a4cc9, #77a0b8, #6a6cba, #abcfe5, #b6b6dd, #ccdfeb);
    filter: grayscale(0.4);
    color: black;
    border: 0px;
  }
}

#map-wrapper{
  position: relative;
  background-color: #d5e3e6;
  .map_spinner{
    position: absolute;
    top:calc(50% - 21px);
    left: calc(50% - 50px);
  }
}
.post-col-4{
  background-color: white;
  padding-top: 1%;
  margin-right: 1%;
  margin-left: 1%;
  width:calc(100%/3.0 - 2% );
  margin-top: 1%;
  margin-bottom: 1%;

}


@media (max-width: 768px) {
.post-col-4{
  background-color: white;
  padding-top: 1%;
  margin-right: 1%;
  margin-left: 1%;
  width:calc(100% - 2%);
  margin-top: 1%;
  margin-bottom: 1%;

}
}
