<% if @search_id == '1' %>
<div class="jumbotron jumbotron-fluid" id="spring">
  <div class="container">
    <h2>Spring</h2>
  </div>
</div>
<% elsif @search_id == '2' %>
  <div class="jumbotron jumbotron-fluid" id="summer">
    <div class="container">
      <h2>Summer</h2>
    </div>
  </div>
<% elsif @search_id == '3'%>
  <div class="jumbotron jumbotron-fluid" id="autumn">
    <div class="container">
      <h2>Autumn</h2>
    </div>
  </div>
<% elsif @search_id == '4' %>
  <div class="jumbotron jumbotron-fluid" id="winter">
    <div class="container">
      <h2>Winter</h2>
    </div>
  </div>
<% end %>

<%= render 'partials/posts' %>
