<% if @search_id == '5' %>
<div class="jumbotron jumbotron-fluid" id="men">
  <div class="container">
  </div>
</div>
<% elsif @search_id == '6' %>
<div class="jumbotron jumbotron-fluid" id="women">
  <div class="container">
  </div>
</div>
<% end %>

<%= render 'partials/posts' %>
